.splash-container{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:linear-gradient(
135deg,
#F8FBFF,
#EEF6FF,
#E4F0FF
);

}

.splash-container h1{

font-size:48px;

font-weight:800;

margin-top:20px;

color:#0F172A;

}

.loader{

margin-top:40px;

width:70px;

height:6px;

background:#D6E4FF;

border-radius:20px;

overflow:hidden;

position:relative;

}

.loader::before{

content:"";

position:absolute;

height:100%;

width:35px;

background:#2563EB;

animation:loading 1.3s infinite;

}

@keyframes loading{

0%{

left:-40px;

}

100%{

left:100%;

}

}